.search-div{
  background-color: #4E31AA;

  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
  position: fixed;
}

.search-form input, button{
  border-radius: 4px;
  padding: 4px 8px;
}
